<launch>

    <!-- Gripper connection -->
    <arg name="gripper_ip" default="192.168.2.110" />
    <arg name="gripper_port" default="1000" />
    <arg name="local_port" default="1501" />
    <arg name="gripper_model" value="wsg50" />
    <arg name="finger_distance_offset" default="0.0"/>

    <!-- Low level force control -->
    <arg name="force_control_gain" default="1.4" />
    <arg name="force_control_max_force" default="20.0" />
    <arg name="force_control_filter" default="true" />
    <arg name="force_control_cut_freq" default="40.0" />
    <arg name="force_control_rate" default="200.0" />

    <!-- Finger Connection -->
    <arg name="serial_port_finger0" default="/dev/ttyUSB0" />
    <arg name="serial_port_finger1" default="/dev/ttyUSB1" />
    <arg name="finger0_code" default="#H003-28A" />
    <arg name="finger1_code" default="#H004-28A" />

    <!-- Measure Filtering -->
    <arg name="cut_freq_filter_voltage" default="20.0" />
    <arg name="rate_filter_voltage" default="500.0" />
    <arg name="cut_freq_filter_wrench" default="20.0" />
    <arg name="rate_filter_wrench" default="500.0" />

    <!-- Fixed Vars -->
    <arg name="grasp_force_topic" value="grasp_force" />
    <arg name="wrench_topic" value="wrench" />
    <arg name="force_command_topic" value="command_force" />
    <arg name="pause_force_control_srv" value="force_control/pause" />
    <arg name="raw_homing_gripper_srv" value="homing_raw" />
    <arg name="name_space_finger0" value="finger0" />
    <arg name="name_space_finger1" value="finger1" />
    <arg name="contact_force_topic" value="contact_force" />
    <arg name="remove_bias_srv" value="remove_bias" />
    <arg name="width_topic" value="width" />

    <group ns="$(arg gripper_model)">

    <include file="$(find sun_wsg50_control)/launch/wsg50_control.launch">

        <arg name="gripper_ip" value="$(arg gripper_ip)" />
        <arg name="gripper_port" value="$(arg gripper_port)" />
        <arg name="local_port" value="$(arg local_port)" />

        <arg name="goal_speed_topic" value="goal_speed" />
        <arg name="status_topic" value="status" />
        <arg name="homing_srv" value="$(arg raw_homing_gripper_srv)" />

        <arg name="gripper_model" value="$(arg gripper_model)" />


        <arg name="measure_topic" value="$(arg grasp_force_topic)" />
        <arg name="measure_topic_type" value="Float64" />
        <arg name="width_topic" default="$(arg width_topic)" />

        <arg name="force_command_topic" value="$(arg force_command_topic)" />

        <arg name="pause_service" value="$(arg pause_force_control_srv)" />
        <arg name="start_in_pause" value="true" />

        <arg name="control_gain" value="$(arg force_control_gain)" />
        <arg name="max_force" value="$(arg force_control_max_force)" />

        <arg name="filter_control" value="$(arg force_control_filter)" />
        <arg name="cut_freq" value="$(arg force_control_cut_freq)" />
        <arg name="rate" value="$(arg force_control_rate)" />

    </include>

    <include file="$(find sun_tactile_driver)/launch/read_wrench_dual.launch">

        <arg name="wrench_topic" value="$(arg wrench_topic)"/>

        <arg name="namespace_finger0" value="$(arg name_space_finger0)" />
        <arg name="namespace_finger1" value="$(arg name_space_finger1)" />

        <arg name="serial_port_finger0" value="$(arg serial_port_finger0)" />
        <arg name="serial_port_finger1" value="$(arg serial_port_finger1)" />

        <arg name="frame_id_finger0" value="fingertip0" />
        <arg name="frame_id_finger1" value="fingertip1" />

        <arg name="finger0_code" value="$(arg finger0_code)" />
        <arg name="finger1_code" value="$(arg finger1_code)" />

        <arg name="voltage_topic" value="tactile_voltage" />
        <arg name="finger_wrench_topic" value="$(arg wrench_topic)" />
        <arg name="remove_bias_srv" value="$(arg remove_bias_srv)" />

        <arg name="cut_freq_filter_voltage" value="$(arg cut_freq_filter_voltage)" />
        <arg name="rate_filter_voltage" value="$(arg rate_filter_voltage)" />
        <arg name="cut_freq_filter_wrench" value="$(arg cut_freq_filter_wrench)" />
        <arg name="rate_filter_wrench" value="$(arg rate_filter_wrench)" />

        <arg name="finger_distance_topic" value="$(arg width_topic)"/>
        <arg name="finger_distance_offset" value="$(arg finger_distance_offset)"/>

        <arg name="frame_id_grasp" value="grasp_center"/>

        <arg name="grasp_force_topic" value="$(arg grasp_force_topic)"/>

    </include>

    <node name="wrench_stamped_2_contact_force_stamped" ns="$(arg name_space_finger0)" pkg="slipping_control" type="wrench_stamped_2_contact_force_stamped" output="screen">

        <param name="input_topic" type="string" value="$(arg wrench_topic)"/>

        <param name="output_topic" type="string" value="$(arg contact_force_topic)"/>

    </node>
    <node name="wrench_stamped_2_contact_force_stamped" ns="$(arg name_space_finger1)" pkg="slipping_control" type="wrench_stamped_2_contact_force_stamped" output="screen">

        <param name="input_topic" type="string" value="$(arg wrench_topic)"/>

        <param name="output_topic" type="string" value="$(arg contact_force_topic)"/>

    </node>

    <include file="$(find slipping_control)/launch/slipping_control.launch">

        <!-- Settings -->
        <arg name="ns_static_control0" value="static_control_0"/>
        <arg name="ns_static_control1" value="static_control_1"/>

        <!-- PARAMS -->
        <arg name="beta" value="0.00349"/>
        <arg name="gamma" value="0.109"/>
        <arg name="mu" value="1.0"/>
        <arg name="kf_frequency" value="2000.0"/>
        <arg name="Io" value="1.4E-3"/>
        <arg name="Mo" value="0.35"/>
        <arg name="b" value="0.0"/>
        <arg name="beta_o2" value="0.04"/>
        <arg name="beta_o3" value="0.04"/>
        <arg name="sigma_02" value="1.0E2"/>
        <arg name="sigma_03" value="1.0E2"/>
        <arg name="dyn_p_gain" value="20.0"/>
        <arg name="dyn_i_gain" value="20.0"/>
        <arg name="dyn_frequency" value="2000.0"/>
        <arg name="dyn_input_saturation" value="3.0E-2"/>
        <arg name="dyn_itimer_max" value="2.0"/>
        <arg name="dyn_cut_freq" value="0.05"/>
        <arg name="grasp_force_to_apply_before_contact" value="10.0"/>
        <arg name="grasp_contact_force_thr" value="2.0E-3"/>
        <arg name="grasp_force_time_ratio" value="3.0"/> <!-- [N/s] -->
        <arg name="grasp_frequency" value="500.0"/>
        <arg name="pivoting_max_time" value="120.0"/>
        <arg name="pivoting_tau_thr" value="2.0E-3"/>
        <arg name="pivoting_gain" value="75.0"/>
        <arg name="pivoting_frequency" value="500.0"/>
        <arg name="smart_remove_fnd_rate" value="200.0"/>
        <arg name="smart_remove_fnd_time_const" value="1.0"/>

        <!-- Trigger -->
        <arg name="compute_ls_trigger_taun_min" value="0.002"/>
        <arg name="compute_ls_trigger_taun_max" value="0.010"/>
        <arg name="compute_ls_trigger_taun_when_trigger_active" value="0.002"/>
        <arg name="compute_static_trigger_taun_min" value="0.002"/>
        <arg name="compute_static_trigger_taun_max" value="0.010"/>
        <arg name="compute_static_trigger_taun_when_trigger_active" value="0.0005"/>

        <!-- Cor_tilde -->
        <arg name="max_cor_tilde" value="0.8"/>

        <!-- FindZero -> Fn_min -->
        <arg name="default_fn_min" default="20.0"/>
        <arg name="newton_gain" default="0.3"/>
        <arg name="newton_cost_tol" default="1.0E-6"/>
        <arg name="newton_lambda" default="1.0E-10"/>
        <arg name="newton_max_iter" default="1500"/>

        <!-- Secure vars -->
        <arg name="compute_ls_min_fn_min" value="0.0"/>
        <arg name="compute_static_min_fn_min" value="2.0"/>
        <arg name="compute_static_secure_gain" value="1.2"/>
        <arg name="kf_min_gen_max_force" value="0.001"/>

        <!-- Sub -->
        <arg name="contact_force0_topic" value="$(arg name_space_finger0)/$(arg contact_force_topic)"/>
        <arg name="contact_force1_topic" value="$(arg name_space_finger1)/$(arg contact_force_topic)"/>
        <arg name="grasp_force_topic" value="$(arg grasp_force_topic)"/>
        <arg name="total_wrench_topic" value="$(arg wrench_topic)"/>

        <!-- Pubs -->
        <arg name="cor_topic" value="cor"/>
        <arg name="min_force_topic" value="min_force"/>
        <arg name="max_force_topic" value="max_force"/>
        <arg name="generalized_force_topic" value="generalized_force"/>
        <arg name="static_force_topic" value="static_force"/>
        <arg name="kf_extimated_velocity_topic" value="extimated_velocity"/>
        <arg name="kf_extimated_state_topic" value="extimated_state_topic"/>
        <arg name="kf_extimated_measure_topic" value="extimated_measure_topic"/>
        <arg name="dynamic_force_topic" value="dynamic_force"/>
        <arg name="force_command_topic" value="$(arg force_command_topic)"/>

        <!-- services as client -->
        <arg name="pause_force_control_service" value="$(arg pause_force_control_srv)"/>
        <arg name="homing_gripper_service" value="$(arg raw_homing_gripper_srv)"/>
        <arg name="remove_bias_0_service" value="$(arg name_space_finger0)/$(arg remove_bias_srv)"/>
        <arg name="remove_bias_1_service" value="$(arg name_space_finger1)/$(arg remove_bias_srv)"/>	
            
        <!-- services as server -->
        <arg name="smart_remove_bias_service" value="remove_bias"/>
        <arg name="grasp_service" value="grasp"/>
        <arg name="apply_force_service" value="apply_force"/>
        <arg name="apply_fns_service" value="apply_fns"/>
        <arg name="apply_fnd_service" value="apply_fnd"/>
        <arg name="smart_homing_service" value="smart_homing"/>
        <arg name="pivoting_service" value="pivoting"/>

    </include>

    </group>

</launch>